.FifaGamesContainer {
  display: flex;
  justify-content: space-around;
  background-image: url('../components/images/hsoccerfield.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
}

.Main-div2 {
}
