.FifaGamesContainer {
  display: flex;
  justify-content: space-around;
  background-image: url('../components/images/hsoccerfield.png');
  background-size:auto;
  background-repeat:no-repeat;
  background-position: center;
  height: auto;
}
