.Main-div {
  background-image: url('../images/vsoccerfield.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.Details-div {
  display: flex;
  justify-content: center;
}

table {
  background-color: rgba(85, 141, 232, .5);
}

.Details-header {
  background-color: rgba(85, 141, 232, .1);
  font-size: 20px;
}

td {
  font-size: 16px;
  text-align: center;
}

.fifa2018images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
  height: 150px;
}
