.Main-div {
  background-image: url('../images/hsoccerfield.png');
  background-position: top;
  background-repeat: repeat-y;
  background-size: contain;
  background-color: blue;
}

.Details-div {
  display: flex;
  justify-content: center;
}

table {
  background-color: rgba(85, 141, 232, .5);
}

.Details-header {
  background-color: rgba(85, 141, 232, .1);
  font-size: 20px;
  color: white;
}

td {
  font-size: 16px;
  text-align: center;
}

.fifa2018images {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
