.Background {

}

.App-header {
  background-image: url('./images/soccerfansthankyou.png');
  background-size: cover;
  background-position: top;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  height: 300px;
}

.Countdown-div {
  background-color: red;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 24px;
  color: white;
}
